:root {
    --primary: #A8BBA1;
    --secondary: #FDF8F3;
    --text: #4E3B31;
    --secondary-text: #C6A15B;
    --accent: #D8A7B1;
}

@font-face {
  font-family: 'Playfair Display', sans-serif;
  src: url('./PlayfairDisplay-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand', sans-serif;
  src: url('./Quicksand-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

body {
    font-family: 'Quicksand', sans-serif;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    color: var(--text);
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-family: "Quicksand";
    width: 200px;
    height: 70px;
    font-weight: 300;
    font-size: 30px;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 95vw;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 1000;
  padding-left: 20px;
}

.button-group {
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  display: flex;
  gap: 65px;
  justify-content: center;
  align-items: center;
}

#content {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.background-home {
    width: 100vw;
    height: 105vh;
    background: linear-gradient(to bottom, 
        var(--primary) 10%, 
        var(--primary) 30%,    
        var(--secondary) 90%, 
        var(--secondary) 80%);
    z-index: -1;
    position: absolute;
}

.background-menu {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, 
        var(--secondary) 5%, 
        var(--secondary) 5%,    
        var(--primary) 90%, 
        var(--primary) 80%);
    z-index: -1;
    position: absolute;
}

.background-about {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, 
        var(--secondary) 5%, 
        var(--secondary) 5%,    
        var(--primary) 90%, 
        var(--primary) 80%);
    z-index: -1;
    position: absolute;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display";
    color: var(--text);
    font-size: 96px;
    font-weight: 500;
    padding-top: 135px;
}

.slogan {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 34px;
    color: var(--secondary-text);
    font-weight: 300;
    padding: 20px 0 30px 0;
}   

.view-menu {
    background: none;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    width: 160px;
    height: 50px;
    padding: 18px 20px 18px 20px;
    background-color: var(--text);
    color: var(--primary);
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 36px;
    transition: transform 200ms ease;
    transform: scale(1);
}

.view-menu:hover, .view-menu:active {
    transform: scale(1.05);
}

.image-row {
    display: flex;
    justify-content: center;
}

.image-row > img {
    height: 400px;
}

.cafe-logo {
    display: flex;
    height: 80px;
}

.menu-title {
    font-size: 64px;
    font-family: "Playfair Display";
    color: var(--text);
    font-weight: 500;
    padding-top: 150px;
    padding-bottom: 30px;
}

.menu-carousel {
    display: flex;
    padding: 30px 15px 0 15px;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.menu-item {
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    width: 250px;
    height: 430px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}

.menu-item > img {
    height: 250px;
}

.drink-name {
    font-family: "Playfair Display";
    color: var(--text);
    font-size: 24px;
}

.drink-description {
    display: flex;
    align-items: baseline;
    text-align: center;
    padding: 8px 30px;
    color: var(--secondary-text);
    font-size: 16px;
    height: 80px;
}

.drink-price {
    color: var(--secondary-text);
    font-size: 16px;
}

.welcome {
    display: flex;
    font-size: 64px;
    color: var(--text);
    font-family: "Playfair Display";
    font-weight: 500;
    padding: 160px 20px 15px;
}

.paragraph {
    display: flex;
    font-size: 24px;
    color: var(--text);
    width: 900px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--secondary);
    width: 800px;
    height: 393px;
    margin-top: 45px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    overflow: hidden;
}

.info-container > .paragraph {
    width: 600px;
    font-size: 18px;
    padding: 10px 0;
}

.location-title {
    color: var(--accent);
    font-family: "Playfair Display";
    font-size: 50px;
    padding-top: 45px;
}

.hours-title {
    color: var(--secondary-text);
    font-family: "Playfair Display";
    font-size: 50px;
    padding-top: 20px;
}